---
title: Anders D. Johnson
---
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/css/index.css" />
    <link rel="stylesheet" href="{{assets}}/bower_components/font-awesome/css/font-awesome.css" />
  </head>
  <body>

    <div class="top skew-pre">
      <div class="container">
        <div class="header clearfix">
          <div class="pull-left">
            <a href="{{relativeUrl dest.path ""}}" class="title">
              Anders D. Johnson
            </a>
          </div>

          <div class="pull-right">
            <ul id="nav" class="nav">
              <li>
                {{log dest}}
                <a href="{{relativeUrl dest.path "work"}}">
                  <i class="fa fa-book"></i>
                  Work
                </a>
              </li>
              <li>
                <a href="resume">
                  <i class="fa fa-briefcase"></i>
                  Resume
                </a>
              </li>
              <li>
                <a href="blog">
                  <i class="fa fa-pencil"></i>
                  Blog
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hero">
          <img src="{{assets}}/img/logo.svg" class="logo" />
        </div>
      </div>
    </div>

    <div class="main">

      {% body %}

    </div>

    <div class="footer skew-item section section-tertiary">
      <div class="skew-content">
        <div class="container clearfix">
          <div class="left col-ms-6 col-sm-6">
            <ul class="links list-unstyled">
              {{#each social}}
                <li>
                  <a href="{{url}}" target="_blank">
                    <i class="icon fa fa-{{icon}}"></i>
                    <span class="text">{{name}}</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="pull-right">
            <div class="legal">
              Copyright &copy; 2015 Anders D. Johnson
            </div>
          </div>
        </div>
      </div>
      <div class="skew-fill skew-bg"></div>
      <div class="skew-cover-bottom skew-bg"></div>
    </div>

    <script src="{{assets}}/bower_components/jquery/dist/jquery.js"></script>
    <script src="{{assets}}/js/index.js"></script>

  </body>
</html>
